.online-ground-main-container {
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}
.playground-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.play-again-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.online-play-button {
  color: white;
  background-color: black;
}
.player-name-container {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-name {
  width: 150px;
}
.score-status {
  font-size: 13px;
}
.name-and-score-div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.myturn-boder {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.play-again-accept-deny {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.btn-playagain {
  height: 25px;
  width: 80px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}
.btn-playagain:active {
  transform: scale(0.6);
}
